@charset "utf-8";
body{clear:both;margin:0;}
div, ul, li{margin:0;padding:0;border:0;}
ul, li{list-style-type:none;text-transform:capitalize;}

.rz_bw_nav001_m{clear:both;width:100%;height:39px;background:url(../rz_bw_images/rz_bw_nav001-bg.png);border-bottom:#639ACA solid 2px;}
/* .nav{font-size:12px;width:990px;margin:0px auto 0;border-bottom:#639ACA solid 1px;height:39px;line-height:39px;position:relative;z-index:1;} */
.nav a{text-decoration:none;}.
nav_main{height:39px;padding:0 5px;background:#FFF url(../rz_bw_images/rz_bw_nav001-bg.png) repeat-x 0 top;position:relative;}
#nav_all{z-index:222;}
#nav_all li em{ position: absolute; width: 100%; height:50px;  left: 0; top: 100px; background-color: #fff;}
#nav_all li em ul{ 
    display:block;
    z-index:99; 
    width:62.5%;
    min-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
     height:50px; 
    }
#nav_all li em li{background-image:none; float: left; height:50px; line-height: 50px; background-color: #fff;padding:0; margin: 0 20px;}
#nav_all li em li a{background-image:none; display: block; font-size: 16px; margin:0px;height:50px;line-height:50px;color:#777777;font-weight:normal;border:none;}
#nav_all li em li a:hover{color:#c72733 !important; border-bottom: 3px solid #c72733; }
